@use "../../../../assets/scss/theme";
@use "../../../../assets/scss/page-size-mixin";

/* Mobile */
.office-layout {
  max-width: 1140px;
  margin: 5px auto;
  gap: 20px;

  app-office-accordion {
    grid-column: 1/9;
    margin: 0 20px 20px 20px;
  }

  app-office-worker {
    grid-column: 1/9;
    margin: 0 20px;
  }
}

/* Screen Responsiveness */
@include page-size-mixin.breakpoints(tablet) {
  app-office-accordion {
    grid-column: 1/9;
    margin: 0 20px 20px 20px;
  }

  app-office-worker {
    grid-column: 1/9;
    margin: 0 20px;
  }
}

@include page-size-mixin.breakpoints(laptop) {
  .office-layout {
    padding: 10px;
    border: var(--generic-border-color) solid 1px;
    border-radius: 8px;
  }

  app-office-accordion {
    grid-column: 5/9 !important;
    grid-row: 1;
    margin: 0 20px 20px 0 !important;
  }

  app-office-worker {
    grid-column: 1/5 !important;
    grid-row: 1;
    margin: 0 0 0 20px !important;
  }
}

@include page-size-mixin.breakpoints(desktop) {
  .office-layout {
    padding: 10px;
    border: var(--generic-border-color) solid 1px;
    border-radius: 8px;
  }

  app-office-accordion {
    grid-column: 5/9 !important;
    grid-row: 1;
    margin: 0 !important;
  }

  app-office-worker {
    grid-column: 1/5 !important;
    grid-row: 1;
    margin: 0 !important;
  }
}
