<app-navbar [label]="navLabel"></app-navbar>
<form class="grid input-form office-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="form-group">
    <input type="text" id="name" formControlName="name" name="name" placeholder="Name">
    <div class="error-messages" *ngIf="name.touched">
      <div *ngIf="name.invalid && name.dirty">* Name needs to be at least 2 characters</div>
      <div *ngIf="name.value.length > 20 && name.dirty">* Name cannot exceed 20 characters</div>
      <div *ngIf="!name.value">* Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" id="email" formControlName="email" name="email" placeholder="Email">
    <div class="error-messages" *ngIf="email.touched">
      <div *ngIf="email.invalid && email.dirty">* Email Address needs to be in the form user@domain.com</div>
      <div *ngIf="!email.value">* Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="password" id="password" formControlName="password" name="password" placeholder="Password">
    <div class="error-messages" *ngIf="password.touched">
      <div *ngIf="password.invalid && password.dirty">* Password needs to be at least 3 characters</div>
      <div *ngIf="!password.value">* Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <p>Already have an account? <a (click)="goToLogin()">Login</a></p>
  </div>

  <button type="submit" class="generic-button">SIGN-UP</button>
</form>
